    $animation_name:animation-slide-out-up;
@if $animation_name {
    $delay:0.5;
    $duration:3;
    $animation:anim;
    $fillmode:none;
    $direction:rtl; // ltr or rtl
   
}
    

    // $delay
    // $duration
    // $animation
    // $fillmode
    // $direction

    // $delay
    // $duration
    // $animation
    // $fillmode
    // $direction
