$base00: #101718;
$base01: #1f2a2e;
$base02: #364549;
$base03: #48575b;
$base04: #607176;
$base05: #7b8a8e;
$base06: #b8d7e0;
$base07: #f0fbff;
$base08: #e72357;
$base09: #ff4f1a;
$base0a: #e6970f;
$base0b: #19b38a;
$base0c: #17a4cf;
$base0d: #2481f9;
$base0e: #8357db;
$base0f: #e830dc;
$base16-red:     $base08;
$base16-orange:  $base09;
$base16-yellow:  $base0a;
$base16-green:   $base0b;
$base16-cyan:    $base0c;
$base16-blue:    $base0d;
$base16-violet:  $base0e;
$base16-magenta: $base0f; 
/* ===== 5 colorcircle colors (quints)  ===== */
$blue:    hsl(236, 100%, 50%) !default; // #01f
$magenta: hsl(308, 100%, 50%) !default; // #f0d
$orange:  hsl( 20, 100%, 50%) !default; // #f50
$green:   hsl( 92, 100%, 50%) !default; // #7f0
$cyan:    hsl(160, 100%, 50%) !default; // #0fa
$scale-tonic: hsl(236, 100%, 50%) !default; // #01f
/* ===== derivatives  ===== */
